# Ignoring the virtual environment
env/
.venv

# Ignoring Python cache-files
__pycache__/
*.pyc
*.pyo

# Ignoring VSCode-settings
.vscode/

# Ignoring system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignoring the CSV files that we get as an output in task 2
/prob2/3.prob2_output/*.csv

# Ignore the output files from problem 4
/prob4/3.prob4_output
